<div class="list-group">
    <a href="/Home/details/1" class="list-group-item list-group-item-action active">Item1 </a>
    <a href="/Home/details/2" class="list-group-item list-group-item-action active">Item2 </a>
    <a href="/Home/details/3" class="list-group-item list-group-item-action active">Item3</a>
     <a href="/Home/details/4" class="list-group-item list-group-item-action active">Item4</a>
     <a href="/Home/details/5" class="list-group-item list-group-item-action active">Item5</a>


 </div> 