@using MovieApp.Models
@model System.Collections.Generic.IEnumerable<Movie>

@foreach (var item in Model){
<div class="card md-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/@item.ImageUrl" alt="@item.Description" class="card-img">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                  <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">  
                      @item.Name
                  </a>
                </h5>
                <p class="card-text">
                   @Html.Raw(item.Description)
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        3 days ago
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

}   
