@using MovieApp.Models
@model System.Collections.Generic.IEnumerable<Movie>
    
<div class="row">
   <div class="col-md-3">
       @Html.Partial("_menu")
   </div>  
    <div class="col-md-9">
       @* @Html.Partial("_movies",Model) *@
       <partial name="_movies" Model="Model"></partial>
   </div>      
 </div>